.footer
  background-color: var(--dark-grey)
  padding: 24px 32px
  color: white
  font-size: 20px
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: nowrap